python==3.7.6
contractions==0.0.48
Cython==0.29.23
Flask==2.0.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
markupsafe==2.0.1
nltk==3.4.5
numpy
pandas==1.2.4
requests
requests-oauthlib
rsa
scikit-learn
scipy==1.6.3
urllib3==1.25.11
